<!-- <mat-toolbar>
  <h1>APP NAME</h1>
  <button mat-button (click)="newUser()">Nuevo usuario</button>
  <button mat-button (click)="usuariosLista()">Lista de usuarios</button>
  <button mat-button>Pagos</button>
  <span style="flex: 1 2 auto;"></span>
  <button mat-button>Salir</button>
</mat-toolbar> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">APP NAME</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button mat-button (click)="newUser()">Nuevo usuario</button>
      </li>
      <li class="nav-item">
        <button mat-button (click)="usuariosLista()">Lista de usuarios</button>
      </li>
    </ul>
    <span class="navbar-text">
      <button mat-button (click)="salir()">Salir</button>
    </span>
</nav>