<div class="allBody">
  <div class="container">
    <div class="card border-light mb-3">
      <div class="card-header">ACTUALIZAR CONTRASEÑA</div>
      <div class="card-body">
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="password" placeholder="PASSWORD">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="password" placeholder="NEW PASSWORD">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="password" placeholder="CONFIRM PASSWORD">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <button mat-stroked-button class="full-width">ENTRAR</button>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button"  class="full-width btn btn-link">Recordar contraseña</button>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="full-width btn btn-link">Crear cuenta</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>