<div class="allBody">
  <div class="container">
    <div class="card border-light mb-3">
      <div class="card-header">RECUPERAR CONTRASEÑA</div>
      <div class="card-body">
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="USER NAME">
                <mat-hint>Escribir número telefonico</mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <button mat-stroked-button class="full-width">REGUPERAR</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>