.allBody{
    width: 100%;
    height: 90%;
    background-color: rgb(246, 246, 246);
    .container{
        .card{
            top: 50px !important;
        }
        .full-width {
            width: 100%;
        }
        .width95{
            width: 95%;
        }
    }
}