<div class="allBody">
  <div class="container">
    <mat-card class="card">
        <h2 style="text-align: center;">LISTA DE USUARIOS</h2>
      <div class="table-responsive">
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">USERNAME</th>
                  <th scope="col">PWD</th>
                  <th scope="col">EDIT</th>
                  <th scope="col">STATUS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>
                    <button mat-icon-button>
                      <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                    </button>
                  </td>
                  <th scope="row">
                    <mat-slide-toggle>HABILITAR</mat-slide-toggle>
                  </th>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>
                    <button mat-icon-button>
                      <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                    </button>
                  </td>
                  <th scope="row">
                    <mat-slide-toggle>HABILITAR</mat-slide-toggle>
                  </th>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>
                    <button mat-icon-button>
                      <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                    </button>
                  </td>
                  <th scope="row">
                    <mat-slide-toggle>HABILITAR</mat-slide-toggle>
                  </th>
                </tr>
              </tbody>
            </table>
      </div>
    </mat-card>
  </div>
</div>